.footer {
  position: relative;
  width: 100vw;
  bottom: 0;
  padding: 5vw 0 10px;
  color: var(--foreground-color);
  background-color: var(--solibrarium-color);
  font-family: Futura Book;
  font-size: small;
  font-weight: 500;
  text-shadow: -1px -1px rgba(var(--foreground-rgb), 0.4), 1px 1px var(--background1-color);
  z-index: 0;
}

.footer_plaque {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 15px;
  border: ridge 5px var(--glow-color);
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(2px);
  box-shadow: 10px 20px 10px 0px rgba(0,0,0,0.5);
}

.screw {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: linear-gradient(135deg, #adadad 0%,#e1e1e1 51%,#dddddd 68%,#f6f6f6 100%);
  box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.1);
}

.screw .indent {
  height: 25%;
  width: 125%;
  margin-top: 33%;
  box-shadow: inset 0px 1px 8px #222;
  transform:rotate(150deg);
  border-radius: 2px;
  margin-left:-2px;
  border-bottom:1px solid rgba(255,255,255,0.3);
}

.dark-mode .screw {
  filter: brightness(75%);
}

@media (min-width: 768px) {

  .footer {
    padding: 5vw 10px 30px;
    font-size: medium;
  }

  .footer_plaque {
    margin: 0 50px;
    gap: 5rem;
  }
}

@media (min-width: 1024px) {

  .footer_plaque {
      gap: 10rem;
    }
}