@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "Header.css";
@import "Footer.css";
@import "HomePage.css";
@import "Loading.css";
@import "SearchPage.css";
@import "AddToCart.css";
@import "Modals.css";
@import "DetailsPage.css";
@import "CheckoutPage.css";
@import "AccountPage.css";

@font-face {
  font-family: Glow Bloom;
  src: local("Glow Bloom"), url("../public/fonts/Glowbloom.otf");
}

@font-face {
  font-family: Source Sans Pro;
  src: local("Source Sans Pro"), url("../public/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: CartoGothic;
  src: local("Source Sans Pro"), url("../public/fonts/CartoGothicStd-Book.otf");
}

:root {
  overflow-x: hidden;
  font-family: Source Sans Pro;
  /* Shadcn color variables */
  --shadcn-input-hsl: 214.3 31.8% 91.4%;
  --shadcn-ring-hsl: 215 20.2% 65.1%;
  /* App variables */
  --solibrarium-color: rgb(252, 211, 77);
  --solibrarium-accent-color: rgb(252, 222, 123);
  --green-color: rgb(132, 204, 22);
  --green-hover-color: rgb(163, 230, 53);
  --red-color: rgb(244, 54, 76);
  --red-hover-color: rgb(251, 113, 133);
  --glow-color: yellow;
  --foreground-color: rgb(0, 0, 0);
  --background1-color: rgb(214, 219, 220);
  --background2-color: rgb(255, 255, 255);
  --header-dropshadow-color: rgb(0 0 0 / 0.75);
  --header-dropshadow: 5px 5px 0px var(--header-dropshadow-color);
  --header-fallback-gradient: linear-gradient(to right, #fde68a, #fbbf24);

  --theme-switch-on: url("/icons/theme_switch_bg_dark.svg");
  --theme-switch-off: url("/icons/theme_switch_bg.svg");
  --theme-switch-thumb-on: url("/icons/theme_switch_thumb_dark.svg");
  --theme-switch-thumb-off: url("/icons/theme_switch_thumb.svg");
  --theme-switch-size: 40px, 18px;
  --theme-switch-thumb-size: 12px;

  --global-background-image: url("/solarpunk.png");

  --header-min-height: 46px;
  --header-current-height: 0;
}

:root.dark-mode {
  --shadcn-input-hsl: 217.2 32.6% 17.5%;
  --shadcn-ring-hsl: 217.2 32.6% 17.5%;

  --solibrarium-color: rgb(75, 85, 99);
  --solibrarium-accent-color: rgb(56, 63, 73);
  --glow-color: deepskyblue;
  --foreground-color: rgb(255, 255, 255);
  --background1-color: rgb(0, 0, 0);
  --background2-color: rgb(50, 50, 50);
  /* --header-dropshadow-color: rgb(123 218 255 / 0.5); */
  --header-dropshadow: 5px 5px 2px var(--header-dropshadow-color);
  --header-fallback-gradient: linear-gradient(to right, #2474aa, #101010);

  --global-background-image: url("/solarpunk_night.png");
}

.global_background_image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: var(--global-background-image);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: calc(74.7vh - var(--header-current-height));
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--header-current-height);
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  color: var(--foreground-color);
  background: linear-gradient(to bottom, transparent, var(--background2-color)) var(--background1-color);
}

.app_backdrop {
  position: fixed;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  margin-top: -8rem;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

/* .app_backdrop:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  z-index: 2;
} */

.app_backdrop .gradient {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  max-width: 640px;
  top: 80px;
  background-image:
    radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  filter: blur(100px) saturate(150%);
  opacity: 0.15;
  z-index: 3;
}

.pill_btn_base {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 9999px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 6px 20px 6px 20px;
}

.pill_btn_base:disabled {
  border-color: rgb(209, 213, 219);
  background-color: rgb(156, 163, 175);
  color: rgb(243, 244, 246);
}

.card {
  border: 2px solid rgb(209, 213, 219);
  /* tailwind-gray-300 */
  border-radius: 0.5rem;
  background-color: color-mix(in srgb, var(--background1-color) 20%, transparent);
  background-clip: padding-box;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  backdrop-filter: blur(16px);
}

.card:hover {
  border-color: var(--solibrarium-color);
}

.green_btn {
  border-color: var(--green-color);
  background-color: var(--green-color);
}

.green_btn:hover:not(:disabled) {
  border-color: var(--green-hover-color);
  background-color: var(--green-hover-color);
}

.red_btn {
  border-color: var(--red-color);
  background-color: var(--red-color);
}

.red_btn:hover:not(:disabled) {
  border-color: var(--red-hover-color);
  background-color: var(--red-hover-color);
}

.ShoppingCart {
  font-family: CartoGothic;
  background-color: #fff5;
  backdrop-filter: blur(16px);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cart_item {
  --background-opacity: 40%;
  display: flex;
  width: 90%;
  max-width: 500px;
  height: 145px;
  gap: 0.5rem;
  align-self: center;
  overflow: hidden;
  border-width: 0px 2px 2px 0px;
  border-color: var(--solibrarium-color);
  border-radius: 0.5rem;
  background-color: color-mix(in srgb, var(--solibrarium-accent-color) var(--background-opacity), transparent);
  box-shadow: 0 10px 8px rgb(0 0 0 / 0.04), 0 4px 3px rgb(0 0 0 / 0.1);
}

.dark-mode .cart_item {
  --background-opacity: 60%;
  border-color: rgb(209, 213, 219);
}

.cart_item .quantity_text::before {
  content: "x ";
}

.star {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(81%) sepia(59%) saturate(2778%) hue-rotate(34deg) brightness(98%) contrast(83%);
}

.scroll_on_hover {
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-color) transparent;
}

.scroll_on_hover:hover {
  overflow-y: scroll;
  line-clamp: none;
  -webkit-line-clamp: none;
}

.scroll_on_hover:hover::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.scroll_on_hover:hover::-webkit-scrollbar-thumb {
  width: 12px;
  background: var(--foreground-color);
}

div[data-radix-popper-content-wrapper] {
  z-index: 60 !important;
}

div[data-radix-popper-content-wrapper]:has(div[data-active]) {
  z-index: 50 !important;
}

@media (min-width: 768px) {

  :root {
    --header-min-height: 70px;
    --theme-switch-size: 44px, 20px;
    --theme-switch-thumb-size: 16px;
  }

  .app {
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .pill_btn_base {
    padding: 6px 50px 6px 50px;
  }

  .settings_btn {
    padding: 0;
  }
}

@media (min-width: 1024px) {

  .app {
    padding-top: 5rem;
  }
}

@media (min-width: 1280px) {

  .app {
    padding-top: 7rem;
  }
}

@media (min-width: 1792px) {

  .app {
    max-width: 100rem;
  }
}