.hero-banner-container {
  padding: 25px 20px;
  min-height: 350px;
  line-height: 0.9;
  width: 100%;
  color: black;
}

.hero-banner-sub {
  font-family: "Book Antiqua";
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

.hero-banner-author {
  font-family: "Futura Book";
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  text-transform: uppercase;
}

.hero-banner-title {
  font-family: "Futura Book";
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  width: 200%;
  white-space: break-spaces;
  overflow: hidden;
  line-height: 115%;
}

.hero-banner-desc {
  font-family: "Book Antiqua";
  text-align: center;
  font-size: 0.6rem;
  margin-top: 2rem;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
  max-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--banner-color) transparent;
  scrollbar-width: thin;
}

.hero-banner-desc::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 100%;
  max-height: 150px;
  left: 0;
  /* background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=ffe4c4'); */
  background-image: url("/icons/pen-brush1.svg");
  margin: -2px -6px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  transform: translateY(-0.5rem);
}

.hero-banner-desc::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.hero-banner-desc::-webkit-scrollbar-thumb {
  width: 12px;
  background: var(--banner-color);
}

.hero-banner-book-cover {
  position: absolute;
  width: 150px;
  height: 225px;
  top: 12%;
  left: calc(70% + 25px);
  transform: translateX(-50%);
}

.hero-banner-button {
  position: absolute;
  display: flex;
  bottom: 5%;
  right: 2%;
}

.banner-container {
  position: relative;
  background-color: #cdcdcd;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.banner-sub {
  position: relative;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 5px 10px;
  z-index: 0;
}

.banner-sub::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--banner-color);
  transform: rotate(7deg);
  border-radius: 1.5rem 0.25rem;
  z-index: -1;
}

.banner-title {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
}

.banner-author {
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-height: 1.25rem;
}

.banner-tagline {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  min-width: 50%;
  /* background: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffe4c4'); */
  background-image: url("/icons/pen-brush2.svg");
  margin: -2px -6px;
  padding: 0 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.separator_label_text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  white-space: nowrap;
}

.separator_label_text::before,
.separator_label_text::after {
  content: "";
  width: 100%;
  height: 1px;
  align-self: center;
  border: 1px solid #cccccc;
}

.separator_label_text::before {
  margin-right: 10px;
}

.separator_label_text::after {
  margin-left: 10px;
}

.marquee_container {
  display: flex;
  width: 100%;
  overflow: hidden;
  /* background: var(--background1-color); */
}

.marquee_track {
  position: relative;
  display: flex;
  height: 400px;
  gap: 1.5rem;
  padding-top: 35px;
  white-space: nowrap;
  will-change: transform, translate;
}

.marquee_card {
  width: 150px;
  height: 350px;
}

.marquee_card:hover {
  border-radius: 0.25rem;
  background-color: color-mix(in srgb,
      var(--background2-color) 50%,
      var(--background1-color) 50%);
  backdrop-filter: blur(16px);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  overflow: visible;
}

.marquee_content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: 100px 60px 50px 15px 25px 40px;
  width: 150px;
  justify-content: center;
  justify-items: center;
  white-space: normal;
  transition: transform 0.1s ease;
}

.marquee_card:hover .marquee_content {
  position: absolute;
  grid-template-rows: 100px 60px 50px 15px 25px 40px 55px;
  transform: translateY(-7%);
}

.marquee_card .buttons {
  display: none;
}

.marquee_card:hover .buttons {
  display: flex;
  justify-content: center;
}

.marquee_text {
  display: -webkit-box;
  text-align: center;
  color: rgb(17, 24, 39);
}

.dark-mode .marquee_text {
  filter: invert(1);
}

.review_card {
  width: 440px;
  height: 500px;
  border-radius: 0.25rem;
  overflow: visible;
  background-color: color-mix(in srgb,
      var(--background2-color) 60%,
      var(--background1-color) 40%);
  backdrop-filter: blur(16px);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  padding: 1.5rem 2.05rem;
}

@media (min-width: 640px) {
  .hero-banner-container {
    min-height: 400px;
    background-position: center;
    padding: 50px 40px;
  }

  .hero-banner-sub {
    font-size: 10px;
    margin-top: 10px;
  }

  .hero-banner-author {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .hero-banner-title {
    font-size: 3rem;
    margin-top: 10px;
  }

  .hero-banner-desc {
    font-size: 1rem;
    max-height: 160px;
  }

  .hero-banner-desc::before {
    max-height: 195px;
  }

  .hero-banner-book-cover {
    width: 200px;
    height: 300px;
    left: unset;
    right: 10%;
    transform: none;
  }
}

@media (min-width: 768px) {
  .hero-banner-container {
    min-height: 500px;
    background-position: center;
  }

  .hero-banner-book-cover {
    width: 300px;
    height: 450px;
    top: 0;
    right: 5%;
  }

  .banner-sub {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .banner-title {
    font-size: 1.25rem;
    line-height: 1.75rem
  }

  .banner-author {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .review_card {
    height: 380px;
  }
}

@media (min-width: 1024px) {
  .hero-banner-sub {
    font-size: 24px;
    margin-top: 20px;
  }

  .hero-banner-author {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .hero-banner-title {
    font-size: 5rem;
    margin-top: 20px;
  }

  .hero-banner-desc {
    max-height: 150px;
  }

  .hero-banner-book-cover {
    right: 10%;
  }

  .banner-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .banner-author {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .banner-tagline {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}